# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
.DS_Store
.DS_Store?
._*

.sass-cache
node_modules

assets/js/package.js
assets/css/main.css
assets/dist/*.js
assets/dist/*.css
assets/dist/*.map
